:root {
  --bg-top-color: #eaebf7;
  --bg-bottom-color: #fff;
  --main-title-accent-color: #304ffe;
  --title-color: #1b227e;
  --text-color: #6e7bc6;
  --button-color: #ffaa01;
  --button-text-color: #fff;
  --button-angles: 5px;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

.main-container {
  height: 100vh;
  padding: 0 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-image: linear-gradient(
    to bottom right,
    var(--bg-top-color),
    var(--bg-bottom-color)
  );
}

.title {
  color: var(--title-color);
  margin: 0;
}

.secondary-text {
  line-height: 1.8rem;
  margin: 0;
  padding: 1rem 0;
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.main-title {
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
  padding-top: 0.6rem;
}

.title-accent {
  color: var(--main-title-accent-color);
}

.button {
  text-transform: uppercase;
  padding: 0.7rem 1rem;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: 1px solid;
  border-radius: var(--button-angles);
}
