:root {
  --bg-top-color: #eaebf7;
  --bg-bottom-color: #fff;
  --main-title-accent-color: #304ffe;
  --title-color: #1b227e;
  --text-color: #6e7bc6;
  --button-color: #ffaa01;
  --button-text-color: #fff;
  --button-angles: 5px;
  --card-bg: #fff;
  --card-border-color: #e6e7e7;
  --card-angles: 3px;
  --icon-bg-blue: #bbdefc;
  --icon-blue: #1e88e5;
  --icon-bg-green: #c7e6c9;
  --icon-green: #46a149;
  --icon-bg-yellow: #fff9c4;
  --icon-yellow: #f8a829;
  --icon-bg-violet: #e1bee8;
  --icon-violet: #8d24ab;
  --icon-angles: 5px;
}

body {
  min-width: fit-content;
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;
  color: var(--text-color);
}

p {
  margin: 0;
}

.container {
  padding: 0 4rem;
  background-image: linear-gradient(
    to bottom right,
    var(--bg-top-color),
    var(--bg-bottom-color)
  );
}

.main-container {
  width: 75rem;
  height: 100vh;
  margin: auto;
  display: flex;
  align-items: center;
}

.description-container {
  max-width: 33rem;
  margin-right: 5rem;
  overflow: hidden;
}

.title {
  color: var(--title-color);
  margin: 0;
}

.secondary-text {
  line-height: 1.8rem;
  margin: 0;
  padding: 1rem 0;
}

.sub-title {
  text-transform: uppercase;
  letter-spacing: 1.8px;
}

.main-title {
  font-size: 3rem;
  font-weight: 400;
  line-height: 3.5rem;
  padding-top: 0.6rem;
}

.title-accent {
  color: var(--main-title-accent-color);
}

.button {
  text-transform: uppercase;
  padding: 0.7rem 1rem;
  color: var(--button-text-color);
  background-color: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: var(--button-angles);
}

.cards-container {
  height: 35rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(2, 1.7rem 13rem 1.5rem);
  column-gap: 1.4rem;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 15rem;
  height: 12.5rem;
  padding: 1rem 1.48rem;
  background-color: var(--card-bg);
  border: 1px solid var(--card-border-color);
  border-radius: var(--card-angles);
}

.blue {
  grid-row-start: 1;
  grid-row-end: 3;
}

.green {
  grid-row-start: 2;
  grid-row-end: 4;
}

.yellow {
  grid-row-start: 4;
  grid-row-end: 6;
}

.violet {
  grid-row-start: 5;
  grid-row-end: 7;
}

.icon-container {
  align-self: flex-start;
  padding: 0.6rem 0.6rem 0.3rem;
  border-radius: var(--icon-angles);
}

.icon-blue {
  color: var(--icon-blue);
  background-color: var(--icon-bg-blue);
}

.icon-green {
  color: var(--icon-green);
  background-color: var(--icon-bg-green);
}

.icon-yellow {
  color: var(--icon-yellow);
  background-color: var(--icon-bg-yellow);
}

.icon-violet {
  color: var(--icon-violet);
  background-color: var(--icon-bg-violet);
}

.card-title {
  font-size: 1.3rem;
  font-weight: 500;
  line-height: 2rem;
}

.card-text {
  font-size: 0.9rem;
}
